<div class="quickacces" id="home" data-equalizer>
    <div class="item">
        <a href="#/contactos"><div class="warp" data-equalizer-watch>
            <h3>Gestor de Contactos</h3>
            <span class="icon"><i class="fa fa-5x fa-user"></i></span>
        </div></a>
    </div>
    <div class="item">
        <div class="warp" data-equalizer-watch>
            <h3>Generador de Campañas</h3>
            <span class="icon"><i class="fa fa-5x fa-envelope"></i></span>
        </div>
    </div>
    <div class="item">
        <div class="warp" data-equalizer-watch>
            <h3>Promociones</h3>
            <span class="icon"><i class="fa fa-5x fa-flag"></i></span>
        </div>
    </div>
    <div class="item">
        <div class="warp" data-equalizer-watch>
            <h3>Configuración</h3>
            <span class="icon"><i class="fa fa-5x fa-cogs" aria-hidden="true"></i></span>
        </div>
    </div>
</div>
